- page_header t('.title'), icon: 'folder-open' do
  = link_to icon('list', t('equipment.categories.common.list_categories')), :equipment_categories, class: 'btn btn-default'

.box
  .box-body
    = render 'form'
