- page_header trip_code_and_name(trip), subtitle: icon(:pencil, t('.subtitle')) do
  = link_to :trips, class: 'btn btn-default' do
    = icon :list, t('trips.common.list_trips')

.box
  .box-body
    = render 'form'
