%table.table.table-equipment
  %thead
    %tr
      %th
        = icon 'fw'
        Name
      %th
        Rentals
      %th
  %tbody
    = render partial: 'row', collection: equipments, as: :equipment
