#customer-header
  = page_header customer_name_with_icon(customer) do
    = link_to [:edit, customer], class: 'btn btn-default' do
      = icon :pencil, 'Edit'

= render 'customers/navbar', current_nav: current_nav
