.box
  - if defined?(caption) && caption.present?
    .box-header
      %h3.box-title= caption

  .box-body.no-padding
    %table.table-customers.table.table-striped
      %tbody
        = render partial: 'row', collection: customers, as: :customer
