- equipment = rental.equipment

%tr[rental]
  %td
    = equipment.category.name
    = link_to [:edit, customer, rental] do
      = equipment.name
  %td.actions-column
    = link_to 'Delete', [customer, rental], method: :delete, confirm: 'Are you sure?'
