%tr
  %td
    = icon :user
    = link_to booking.customer.full_name, booking.customer
    %small.text-muted= booking.customer.certification_name
  %td.actions-column
    = action_links_for [event, booking], :edit, :delete
