- customer = booking.customer
%tr[booking]
  %td
    = link_to customer_name_with_icon(customer), customer
    %small.text-muted= customer.certification_name
  %td.actions-column
    = action_links_for [event, booking], :edit, :delete
