- event = booking.event
- trip = booking.trip

%tr[booking]
  %td{:style => 'width: 150px'}
    %i.fa.fa-calendar
    = l event.start_time, format: :short

  %td
    - trip = booking.trip
    - if trip.code.present?
      .label.label-default{ :style => 'background-color: %s;' % trip.color }<
        = trip.code
    = trip.name

  %td
    - unless event.guided_dive?
      %small.text-muted<
        %i.fa.fa-star-o
        non-guided dive

  %td
    - if event.guided_dive?
      %small.text-muted<
        %i.fa.fa-star
        guided dive

  %td
    - if event.boat_dive?
      %small.text-muted<
        %i.fa.fa-anchor
        boat dive

  %td
    - if event.night_dive?
      %small.text-muted<
        %i.fa.fa-moon-o
        night dive

  %td.actions-column
    = action_links_for [customer, booking], :delete
