= render layout: 'customers/header', locals: { current_nav: :bookings, padding: false } do
  = collection_placeholder bookings, message: 'This customer has no bookings yet' do
    = render 'table', bookings: bookings
