.text-placeholder {
  color: $gray-light;
  text-align: center;
  margin: 15px 15px 20px 15px;
}

.panel-placeholder {
  background: transparent;
  color: $gray-light;
  border: 2px dashed $gray-lighter;
  text-align: center;
  box-shadow: none;
}
