// Used for model attributes (key/value)
.table.table-attributes {
  th {
    width: 40%;
    color: $gray-light;
    background-color: whitesmoke;
    text-align: right;

    &::after { content: ':'; }
  }

  margin-bottom: 0;
}

.table .actions-column {
  text-align: right;
}

.table .label-column {
  width: 40px;
  text-align: right;
  padding-right: 0;
}
