/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// Google font
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

// Variables
// $font-family-sans-serif: 'Open Sans', sans-serif;
// body { font-weight: 200; }

// Bootswatch
// @import "bootswatch/lumen/variables";

// Bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding: 50px 0; }

// And finally bootswatch style itself
// @import "bootswatch/lumen/bootswatch";

// Bootstrap Datepicker
@import "bootstrap-datetimepicker";

// Bootstrap Colorpicker
@import "bootstrap-colorpicker";

// Fullcalendar
@import "fullcalendar";
@import "fullcalendar-theme";

// Select2
@import "select2";
@import "select2-bootstrap";
@import "select2-theme";

// Font Awesome
@import "font-awesome-sprockets";
@import "font-awesome";

// Utils
@import "utils";

// Tables
@import "components/tables";
@import "components/flash_messages";

// .page-header { margin-top: 20px; }

// Customers
#customer-header {
  margin-bottom: 1em;
}

#customer-header th {
  width: 140px;
  color: $gray-light;
}

#customer-nav {
  margin-bottom: 1em;
}

#customer-form {
  .tab-pane { margin-top: 1em; }
}

// Quick Links
#quick-links .btn {
  padding: 30px 10px;
  margin-bottom: 10px;
}

// Table
tr.table-divider > th {
  background-color: white !important;
  color: #808080;
  font-size: 85%;
  // font-weight: 400;
  // border-top: 4px solid #D5D5D5 !important;
}

.table .maximize-column {
  width: 100%;
}

.table .actions-column {
  text-align: right;
}

.table .label-column {
  width: 40px;
  text-align: right;
  padding-right: 0;
}

table .thumbnail-column {
  width: 60px;
}

// Placeholder
.text-placeholder {
  color: $gray-light;
  text-align: center;
  margin: 15px 15px 20px 15px;
}

.panel-placeholder {
  color: $gray-light;
  border: 2px dashed $gray-lighter;
  text-align: center;
  box-shadow: none;
}

// Events
.events-table .event-code {
  font-size: 1.5432em;
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
}

.events-table .event-details {
  width: 100%;
}

#event-nav {
  margin-bottom: 1em;
}

.event-list table {
  margin-bottom: 0;
}

// Links
a:hover {
  text-decoration: none;
}

.nav-equipment {
  margin-bottom: 1em;
}

.form-actions {
  border-top: 2px solid $gray-lighter;
  padding-top: 15px;
}
