.fc-toolbar h2 {
  font-size: 24px;
}

.fc .fc-event {
  font-size: 0.8em;
}

.fc a:hover {
  text-decoration: none;
  color: white;
}

.fc .fc-content {
  padding: 2px;
}

.fc .fc-view-container {
  background-color: white;
}
