%tr[equipment_category]
  %td
    = link_to equipment_category.name, [:edit, equipment_category]
  %td
    = link_to 'Edit', edit_equipment_category_path(equipment_category)
    = link_to 'Destroy', equipment_category, :method => :delete, :data => { :confirm => 'Are you sure?' }
