%header.header
  = link_to '/', class: 'logo' do
    = icon :tint, 'SCOOBAR', class: 'text-aqua'

  / Header Navbar: style can be found in header.less
  %nav.navbar.navbar-static-top{:role => "navigation"}

    / Sidebar toggle button
    %a.navbar-btn.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
